/* -- global ---------------------------------------------------------------- */
.row { display: flex }
.row .col { flex: 1 1 0% }
/* -- cal ------------------------------------------------------------------- */
.cal { min-width: 420px; position: relative }
    .cal .col { border-left: 1px solid #DDD }
    .cal .col:first-of-type { border-left: none }
/* -- toolbar --------------------------------------------------------------- */
    .cal .toolbar { padding: 10px 0; text-align: center }
        .cal .toolbar .col { border-left: none }
        .cal .toolbar .col:first-of-type { text-align: left }
        .cal .toolbar h2 { margin: 0 }
        .cal .toolbar .col:last-of-type { text-align: right }
/* -- header ---------------------------------------------------------------- */
    .cal .header { height: 40px; overflow-y: scroll; text-align: center; border: 1px solid #DDD; border-bottom: none }
            .cal .header .cell { height: 20px }
/* -- main ------------------------------------------------------------------ */
.cal .main { max-height: 400px; overflow-y: scroll; margin-top: -20px; border: 1px solid #DDD }
    .cal .main .cell { padding: 2px; border-top: 1px solid #DDD; height: 40px; position: relative }
    .main > .row:first-of-type .cell { border-top: none }
        .cal .main .cell > div { position: relative; height: 100% }
/* -- month-view ------------------------------------------------------------ */
    .cal.month .main .cell { height: 80px }
    .cal.month .header .col:first-of-type,
    .cal.month .main .col:first-of-type { flex: 0 0 21px }
/* -- week-view ------------------------------------------------------------- */
    .cal.week .header .col:first-of-type,
    .cal.week .main .col:first-of-type,
/* -- day-view -------------------------------------------------------------- */
    .cal.day .header .col:first-of-type,
    .cal.day .main .col:first-of-type { flex: 0 0 56px }
/* -- modal -------------------------------------------------------------- */
.modal { display: block; box-sizing: border-box; height: 100%; width: 100%;
    position: absolute; padding: 10px; z-index: 10; background-color: rgba(0,0,0,0.5);
    border-radius: 2px; }
.modal-content { max-width: 560px; max-height: 100%; margin: 0 auto; padding: 10px 10px 0;
    box-sizing: border-box; overflow-y: auto; background-color: #FFFFFF; border-radius: 2px; }
.modal-content:after { /* puskee scroll tilassa paddingia */ content: ""; display: block;
    margin-bottom: 10px; }
