.cal { font-size: 14px; color: #343434; }
    .cal .toolbar .col:nth-of-type(2) { text-transform: capitalize; }
    .cal .header { border-radius: 2px 2px 0 0 }
    .cal .main { border-radius: 0 0 2px 2px }
        .cal .main .cell:before { content: ""; position: absolute; width: 88%;
            border-bottom: 1px dotted #e0e0e0; margin: 0 4%; bottom: 50% }
        .cal .col { text-transform: capitalize; }
        .cal .col:first-of-type .cell:before { display: none }
        .cal.week .col.today { background-color: #FCF8E3 }
            .cal.month .main .cell:before { content: initial }
